@using EmployeeHelpDeskWebApp.Enums
@model EmployeeHelpDeskWebApp.Models.ViewModels.EmployeeTaskVM


<form method="post" asp-action="Close">

    <input asp-for="EmployeeTask.Id" hidden />

    <div class="border p-3 container" style="width: 70%;">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <h2 class="text-primary pl-3">Закрытие обращения</h2>
        </div>

        <div class="row">
            <div class="col-9">

                <input asp-for="EmployeeTask.ApplicationUserId" hidden />

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.DateOfCreation"></label>
                    </div>
                    <div class="col-3">
                        <input value="@Model.EmployeeTask.DateOfCreation.ToString("g")" class="form-control text-center" disabled />
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label>Автор заявки</label>
                    </div>
                    <div class="col-8">
                        <input value="@Model.ApplicationUser.FullName" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label>Должность</label>
                    </div>
                    <div class="col-8">
                        <input value="@Model.ApplicationUser.Position" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label>Номер телефона</label>
                    </div>
                    <div class="col-8">
                        <input value="@Model.ApplicationUser.PhoneNumber" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label>Адрес электронной почты</label>
                    </div>
                    <div class="col-8">
                        <input value="@Model.ApplicationUser.Email" class="form-control" disabled />
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeTask.Name" class="form-control" disabled />
                        <span asp-validation-for="EmployeeTask.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row border rounded-3 p-3 m-1">
                    <div class="row">
                        <div class="col-5">
                            <h5 class="text-primary"><label>История сообщений</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.MessageModel)
                        {
                            if (item.ApplicationUser.UserRole == UserRoleEnum.Administrator)
                            {
                                <div class="col-10 offset-md-2">
                                    <div class="p-1 border bg-primary text-white text-center border border-dark rounded-top">
                                        <p class="m-0">@item.DateOfWriting</p>
                                        <p class="m-0">@item.ApplicationUser.FullName</p>
                                    </div>
                                    <div class="p-2 mb-4 border border-dark rounded-bottom">
                                        @item.Message.Replace("<p>", "").Replace("</p>", "").Replace("<br>", "")
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-10">
                                    <div class="p-1 border bg-success text-white text-center border border-dark rounded-top">
                                        <p class="m-0">@item.DateOfWriting</p>
                                        <p class="m-0">@item.ApplicationUser.FullName</p>
                                    </div>
                                    <div class="p-2 mb-4 border border-dark rounded-bottom">
                                        @item.Message.Replace("<p>", "").Replace("</p>", "").Replace("<br>", "")
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>

                <br />

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label>Прикрепленные файлы</label>
                    </div>
                    <div class="col-8">
                        @if (Model.FileModel.Count == 0)
                        {
                            <div class="text-danger">
                                Файлы отсутствуют
                            </div>
                        }
                        else
                        {
                            @foreach (var file in Model.FileModel)
                            {
                                <div>
                                    <a href="/EmployeeTask/DownloadFile?filename=@file.GuidName">@file.Name</a>
                                </div>
                            }
                        }
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.Department">Филиал</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="EmployeeTask.Department" asp-items="Html.GetEnumSelectList<DepartmentEnum>()" class="form-control" disabled>
                            <option disabled selected>- Выберите филиал -</option>
                        </select>
                        <span asp-validation-for="EmployeeTask.Department" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.Cabinet"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeTask.Cabinet" class="form-control" disabled />
                        <span asp-validation-for="EmployeeTask.Cabinet" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.TaskTypeId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="EmployeeTask.TaskTypeId" asp-items="@Model.TaskTypeSelectList" class="form-control" disabled>
                            <option disabled selected>- Выберите тип заявки -</option>
                        </select>
                        <span asp-validation-for="EmployeeTask.TaskTypeId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.Criticality">Критичность</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="EmployeeTask.Criticality" asp-items="Html.GetEnumSelectList<CriticalityEnum>()" class="form-control" disabled>
                            <option disabled selected>- Выберите критичность -</option>
                        </select>
                        <span asp-validation-for="EmployeeTask.Criticality" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row pb-3">
                    <div class="col-4">
                        <label asp-for="EmployeeTask.ExecutionStatus">Статус исполнения</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="EmployeeTask.ExecutionStatus" asp-items="Html.GetEnumSelectList<ExecutionStatusEnum>()" class="form-control" disabled>
                        </select>
                        <span asp-validation-for="EmployeeTask.ExecutionStatus" class="text-danger"></span>
                    </div>
                </div>

                @if (Model.ResponsibleUser != null)
                {
                    <div class="form-group row pb-3">
                        <div class="col-4">
                            <label>Ответственный</label>
                        </div>
                        <div class="col-8">
                            <input value="@Model.ResponsibleUser.FullName" class="form-control" disabled />
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row pb-3">
                        <div class="col-4">
                            <label>Ответственный</label>
                        </div>
                        <div class="col-8">
                            <input value="" class="form-control" disabled />
                        </div>
                    </div>
                }

                @if (User.IsInRole(UserRoleEnum.Employee.ToString()))
                {
                    <div class="form-group row pb-3">
                        <div class="col-4">
                            <label asp-for="EmployeeTask.PerformanceEvaluation">Оценка исполнения</label>
                        </div>
                        <div class="col-8">
                            <select asp-for="EmployeeTask.PerformanceEvaluation" asp-items="Html.GetEnumSelectList<PerformanceEvaluationEnum>()" class="form-control">
                                <option disabled selected>- Оценка исполнения -</option>
                            </select>
                            <span asp-validation-for="EmployeeTask.PerformanceEvaluation" class="text-danger"></span>
                        </div>
                    </div>
                }
                else
                {

                }

                <br />

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100 text-light" value="Закрыть заявку" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-primary w-100"><i class="fa-solid fa-arrow-right-from-bracket"></i> Назад</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4">
                @* Keep this empty *@
            </div>

        </div>
    </div>
    <br />
</form>
<br />
<br />

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    @*<script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250,
                width: 700,
            }).summernote('disable');
        });
    </script>*@
}